.popup-book__close-button {
    position: relative;
    top: -240px;
    right: -695px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(../../../images/close_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: none;
}

.popup-book__close-button:hover {
    opacity: 0.7;
    transition: opacity 0.5s linear;
}

.popup-book__close-button:active {
    outline: none;
}

@media screen and (max-width: 910px) {
    .popup-book__close-button {
        left: 135px;
        top: -30px;
        background-size: 80%;
    }
}