.popup-book {
    display: none;
    content: "";
    position: fixed;
    transition: visibility 0.5s, opacity 0.5s linear;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}