.snippets-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0px auto;
    max-height: 330px;
    min-height: 330px;
    align-items: center;
    overflow-y: auto;
}