.snippet-no-results__title {
    margin: 10px 0px 0px 0px;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    width: 390px;
    word-wrap: break-word;
}


@media screen and (max-width: 505px) {
    .snippet-no-results__title {
        font-size: 23px;
        width: 250px;
    }
}