.popup-book__titles {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    width: 230px;
    min-height: 200px;
    margin: 0px 0px 0px 20px;
}

@media screen and (max-width: 910px) {
    .popup-book__titles {
        margin: 10px 0px 0px 0px;
        font-size: 14px;
    }
}


@media screen and (max-width: 300px) {
    .popup-book__titles {
        font-size: 10px;
    }
}