.popup-book__titles {
    margin: 0px 20px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 910px) {
    .popup-book__titles {
        margin: 10px 0px 0px 0px;
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) {
    .popup-book__titles {
        font-size: 10px;
    }
}