.popup-book__container {
    display: flex;
    align-items: center;
    width: 700px;
    height: 450px;
    border-radius: 10px;
    background-color: #ffffff;
}

@media screen and (max-width: 910px) {
    .popup-book__container {
        flex-direction: column;
        width: 260px;
    }
}

@media screen and (max-width: 300px) {
    .popup-book__container {
        flex-direction: column;
        width: 240px;
    }
}

@media screen and (max-height: 600px) {
    .popup-book__container {
        height: 400px;
    }
}

