.snippet__cover {
    width: 60px;
    height: 70px;
    margin: auto 20px;
    background-image: url(../../../images/cover-unavailable.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 910px) {
    .snippet__cover {
        margin: 20px auto;
    }
}